
*{
    margin:0;
  padding:0;
 
  box-sizing: border-box;
  font-family : 'PT Sans',sans-serif;
  }
  
  html{
   scroll-behavior: smooth;
   margin: 0 auto;
   padding: 0;
  }
  
  .container{
   padding: 0 auto;
    }
  
    .main-info-section,
    .work-category{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    body{
      background-color: dimgray;
  
  
    }
    header{
      width: 100%;

    }
/*begining of navigation bar*/
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #04AA6D;}

ul.topnav li.right {float: right;}
/*End of navigation bar properties*/

/*First Paragraph below the navigation bar*/
.main-info-section{
  height: calc(100vh-81.6px);
 padding-left: 10%;
 padding-right: 10%;
 margin-top: 10px;
 margin-bottom: 10px;
}
.text span{
  display:inline-block;
  color: whitesmoke;
} 
.text p{
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: .8rem;
}

.text a{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  padding: 12px 25px;
  background-color: none;
  border: 3px solid whitesmoke;
  color:blanchedalmond;
  font-size: .8rem;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  transition: .5s;
  display: inline-block;
}

.text a:hover{
  color: #fff;

}

.text a:before{
 
  content: '';
  background-color: #837d7e;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: .5s;
}

.text a:hover::before{
  height:100%;
}

span:hover{
  color : blue;
  transition: all .5s;

}
span.name{
  color: #333;
 
}
span.m-left{
color: whitesmoke;
 }
 .text p{
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: .8rem;
}




@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
    .profile-image{
      width: 450px;
      margin-top: 90px;
      margin-left: 100px;
      margin-right: 100px;
      padding: initial;
    }